body {
	margin: 0;
}

.header_section {
  background-color: #4d4d4d;

  .container {
   width: 1280px;
   margin: 0 auto;
   max-width: 100%;

   .top_header {
    display: table;
    width: 100%;

    .soundcloud {
     width: 33%;
     float: left;
     border-right: 1px solid #000;

     .soundcloud_logo {
       width: 25%;
       float: left;

       img {
        background-color: #fc8000;
        height: 60px;
        width: 69px;
        margin-top: 14px;
        margin-bottom: 14px;

      }
    }
    .soundcloud_text {
     width: 75%;
     float: right;

     .text1 {
      margin: 28px 0 0 0;
      color: #ffffff;
      font-size: 14px;
    }
    .text2 {
      margin: 0 0 0 0;
      color: #ffffff;
      font-size: 16px;
    }


  }

}
.soundcloud_2 {
  width: 66%;
  float: right;

  .music_player {
    border-right: 1px solid #808080;
    margin-top: 20px;
    width: 80%;
    float: left;

    .music_player__img {
      width: 10%;
      float: left;

      img {
        height: 40px;
        width: 40px;
      }

    }
    .play_time {
      width: 90%;
      float: right;

      p {
        font-size: 14px;
        color: #ffffff;
      }
    }


  }
  .channel_button {
    margin-top: 20px;
    width: 16%;
    float: right;

    p {
      color: #ffffff;
      width: 60%;
      float: left;
    }
    button {
      width: 40%;
      float: right;
      border-radius: 50px;
      border: 1px solid;
      padding: 6px 0;
      margin-top: 10px;
    }
  }

}

}

}

}

.navigation {
  display: flex;
  .site_logo {
    width: 85%;
  }
  .navbar {
    width: 15%;
    align-self: flex-end;
    margin-bottom: 56px;
    .menu {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
        &:nth-child(2) {
          padding: 0 0 0px 55px;
        }
      }

    }  
  }
}
.banner_section{
  margin-bottom: 100px;
  .banner_img {
    position: relative;
    figure {
     margin: 0;
     img {
      width: 100%;
    }  
  }
}
.banner_heading {
  position: absolute;
  top: 90%;
  right: 30%;
  h1 {
    color: #ffffff;
    font-size: 70px;
    margin: 0;
  }
  p {
    color: #ffffff;
    font-size: 36px;
    margin: 0;
  }
}
}
.countries_real__stories {
  display: flex;
  display: -webkit-flex;
  .real_stories {
    padding-right: 15px;
    margin-bottom: 15px;
    &:last-child {
     padding-right: 0;
   }
   img {
    width: 100%;
  }
  h1 {
    text-align: center;
    text-align: -webkit-center;
    color: red;
  }
  p {
    text-align: center;
    text-align: -webkit-center;
    a {
      color: #3a83f4;
      text-decoration: none;
    }
  }
  .content {
    padding: 0 15px;
  }
  .read_more {
    text-align: center;
    text-align: -webkit-center;
    button {
      padding: 10px 20px;
      border: 1px solid;
    }
  }
}  
}
.about_us__section{
   background: #d0eafa;
  margin-bottom: 100px;
  .about_empathy {
    padding: 30px 0;
    p {
      text-align: center;
      text-align: -webkit-center;
    }
  }
}
.footer_section {
  width: 100%;
  .logo_footer {
    width: 70%;
    float: left; 
    .logo {
      width: 18%;
      float: left;
    }
    .txt {
      width: 82%;
      float: right;
      margin-top: 80px;
      font-size: 14px;
      p{
        margin: 0;
      }
    }
  }
  .menu_footer {
   float: right;
   margin-top: 52px;
   width: 30%;
   .footer_menu {
    width: 50%;
    float: left;      
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
  .footer_menu2 {
    width: 50%;
    float: right;
    ul {
      float: right;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
  .copyrights {
    clear: both;
    p {
      font-size: 14px;
      padding: 20px 0 0 0;
    }
  }
}
}