/* line 1, ../sass/_header/_header.scss */
body {
  margin: 0;
}

/* line 5, ../sass/_header/_header.scss */
.header_section {
  background-color: #4d4d4d;
}
/* line 8, ../sass/_header/_header.scss */
.header_section .container {
  width: 1280px;
  margin: 0 auto;
  max-width: 100%;
}
/* line 13, ../sass/_header/_header.scss */
.header_section .container .top_header {
  display: table;
  width: 100%;
}
/* line 17, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud {
  width: 33%;
  float: left;
  border-right: 1px solid #000;
}
/* line 22, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud .soundcloud_logo {
  width: 25%;
  float: left;
}
/* line 26, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud .soundcloud_logo img {
  background-color: #fc8000;
  height: 60px;
  width: 69px;
  margin-top: 14px;
  margin-bottom: 14px;
}
/* line 35, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud .soundcloud_text {
  width: 75%;
  float: right;
}
/* line 39, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud .soundcloud_text .text1 {
  margin: 28px 0 0 0;
  color: #ffffff;
  font-size: 14px;
}
/* line 44, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud .soundcloud_text .text2 {
  margin: 0 0 0 0;
  color: #ffffff;
  font-size: 16px;
}
/* line 54, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 {
  width: 66%;
  float: right;
}
/* line 58, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 .music_player {
  border-right: 1px solid #808080;
  margin-top: 20px;
  width: 80%;
  float: left;
}
/* line 64, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 .music_player .music_player__img {
  width: 10%;
  float: left;
}
/* line 68, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 .music_player .music_player__img img {
  height: 40px;
  width: 40px;
}
/* line 74, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 .music_player .play_time {
  width: 90%;
  float: right;
}
/* line 78, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 .music_player .play_time p {
  font-size: 14px;
  color: #ffffff;
}
/* line 86, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 .channel_button {
  margin-top: 20px;
  width: 16%;
  float: right;
}
/* line 91, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 .channel_button p {
  color: #ffffff;
  width: 60%;
  float: left;
}
/* line 96, ../sass/_header/_header.scss */
.header_section .container .top_header .soundcloud_2 .channel_button button {
  width: 40%;
  float: right;
  border-radius: 50px;
  border: 1px solid;
  padding: 6px 0;
  margin-top: 10px;
}

/* line 114, ../sass/_header/_header.scss */
.navigation {
  display: flex;
}
/* line 116, ../sass/_header/_header.scss */
.navigation .site_logo {
  width: 85%;
}
/* line 119, ../sass/_header/_header.scss */
.navigation .navbar {
  width: 15%;
  align-self: flex-end;
  margin-bottom: 56px;
}
/* line 123, ../sass/_header/_header.scss */
.navigation .navbar .menu {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 128, ../sass/_header/_header.scss */
.navigation .navbar .menu li {
  display: inline;
}
/* line 130, ../sass/_header/_header.scss */
.navigation .navbar .menu li:nth-child(2) {
  padding: 0 0 0px 55px;
}

/* line 138, ../sass/_header/_header.scss */
.banner_section {
  margin-bottom: 100px;
}
/* line 140, ../sass/_header/_header.scss */
.banner_section .banner_img {
  position: relative;
}
/* line 142, ../sass/_header/_header.scss */
.banner_section .banner_img figure {
  margin: 0;
}
/* line 144, ../sass/_header/_header.scss */
.banner_section .banner_img figure img {
  width: 100%;
}
/* line 149, ../sass/_header/_header.scss */
.banner_section .banner_heading {
  position: absolute;
  top: 90%;
  right: 30%;
}
/* line 153, ../sass/_header/_header.scss */
.banner_section .banner_heading h1 {
  color: #ffffff;
  font-size: 70px;
  margin: 0;
}
/* line 158, ../sass/_header/_header.scss */
.banner_section .banner_heading p {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
}

/* line 165, ../sass/_header/_header.scss */
.countries_real__stories {
  display: flex;
  display: -webkit-flex;
}
/* line 168, ../sass/_header/_header.scss */
.countries_real__stories .real_stories {
  padding-right: 15px;
  margin-bottom: 15px;
}
/* line 171, ../sass/_header/_header.scss */
.countries_real__stories .real_stories:last-child {
  padding-right: 0;
}
/* line 174, ../sass/_header/_header.scss */
.countries_real__stories .real_stories img {
  width: 100%;
}
/* line 177, ../sass/_header/_header.scss */
.countries_real__stories .real_stories h1 {
  text-align: center;
  text-align: -webkit-center;
  color: red;
}
/* line 182, ../sass/_header/_header.scss */
.countries_real__stories .real_stories p {
  text-align: center;
  text-align: -webkit-center;
}
/* line 185, ../sass/_header/_header.scss */
.countries_real__stories .real_stories p a {
  color: #3a83f4;
  text-decoration: none;
}
/* line 190, ../sass/_header/_header.scss */
.countries_real__stories .real_stories .content {
  padding: 0 15px;
}
/* line 193, ../sass/_header/_header.scss */
.countries_real__stories .real_stories .read_more {
  text-align: center;
  text-align: -webkit-center;
}
/* line 196, ../sass/_header/_header.scss */
.countries_real__stories .real_stories .read_more button {
  padding: 10px 20px;
  border: 1px solid;
}

/* line 203, ../sass/_header/_header.scss */
.about_us__section {
  background: #d0eafa;
  margin-bottom: 100px;
}
/* line 206, ../sass/_header/_header.scss */
.about_us__section .about_empathy {
  padding: 30px 0;
}
/* line 208, ../sass/_header/_header.scss */
.about_us__section .about_empathy p {
  text-align: center;
  text-align: -webkit-center;
}

/* line 214, ../sass/_header/_header.scss */
.footer_section {
  width: 100%;
}
/* line 216, ../sass/_header/_header.scss */
.footer_section .logo_footer {
  width: 70%;
  float: left;
}
/* line 219, ../sass/_header/_header.scss */
.footer_section .logo_footer .logo {
  width: 18%;
  float: left;
}
/* line 223, ../sass/_header/_header.scss */
.footer_section .logo_footer .txt {
  width: 82%;
  float: right;
  margin-top: 80px;
  font-size: 14px;
}
/* line 228, ../sass/_header/_header.scss */
.footer_section .logo_footer .txt p {
  margin: 0;
}
/* line 233, ../sass/_header/_header.scss */
.footer_section .menu_footer {
  float: right;
  margin-top: 52px;
  width: 30%;
}
/* line 237, ../sass/_header/_header.scss */
.footer_section .menu_footer .footer_menu {
  width: 50%;
  float: left;
}
/* line 240, ../sass/_header/_header.scss */
.footer_section .menu_footer .footer_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 244, ../sass/_header/_header.scss */
.footer_section .menu_footer .footer_menu ul li {
  font-size: 14px;
  line-height: 30px;
}
/* line 250, ../sass/_header/_header.scss */
.footer_section .menu_footer .footer_menu2 {
  width: 50%;
  float: right;
}
/* line 253, ../sass/_header/_header.scss */
.footer_section .menu_footer .footer_menu2 ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 258, ../sass/_header/_header.scss */
.footer_section .menu_footer .footer_menu2 ul li {
  font-size: 14px;
  line-height: 30px;
}
/* line 264, ../sass/_header/_header.scss */
.footer_section .menu_footer .copyrights {
  clear: both;
}
/* line 266, ../sass/_header/_header.scss */
.footer_section .menu_footer .copyrights p {
  font-size: 14px;
  padding: 20px 0 0 0;
}

/* line 1, ../sass/_globle/_globle.scss */
.container {
  width: 1280px;
  margin: 0 auto;
  max-width: 100%;
}

/* line 6, ../sass/_globle/_globle.scss */
figure {
  margin: 0;
}
